#darkness2 {
    position: absolute;
    top: 0;
    right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  pointer-events: none; 
  z-index: 101;
  transition: opacity 1s ease-out, transform 1s ease-out; 
  }
  .container-fluid {
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/chain.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -300px;
}
  img{
    position: relative;
    top: 0px;
    width: 1500px;
  }
body {
  background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}
.asking {
  border: 5px solid silver;
  font-family: "UnifrakturCook", cursive;
  font-size: larger;
  font-weight: 900;
  font-style: oblique;
  color: white;
  background-image: url("../img/trail.gif");
    background-size: 650px;
    background-repeat: no-repeat;
}